@model ClassViewModel

@{
    ViewData["Title"] = "Edit Class details";
}

<div class="p-4 container">
    <div class="row p-4">
        <div class="col-md-12">
            <h3>Edit Class details</h3>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-6">
            <form asp-action="Edit" asp-controller="Class" method="post">
                <input hidden asp-for="ClassId" />
                <div class="mb-3">
                    <label for="ClassName" class="form-label fw-bold">Class Name</label>
                    <input asp-for="ClassName" type="text" class="form-control">
                    <span asp-validation-for="ClassName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>

        </div>
    </div>
</div>